.footer-main-container {
    @include width-height(100%, 80px);
    background: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}

.footer-email {
    color: white;
    font-family: fantasy;
}